/* Padding - just for asthetics on Bootsnipp.com */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom:2%; 
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid #f2f2f2;
    padding: 10px;
}
/* NavBar */
.navbar {
	background-color: #404040;
	overflow: visible;
	width:100%;
	position: sticky;
	top: 0;
	border-bottom: 6px solid #3b88d6;
	z-index: 1; /* To insure the drop down menu takes president over other page elements */
}

.navbar a {
	float: left;
	display: block;
						/*color: #f2f2f2;*/
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
}

.navbar p {
	float: left;
	display: block;
	color: #a1a1a3;
	text-align: center;
	padding: 15px 25px 0px 0px;
	text-decoration: none;
}

a:hover,
a.selected{
	color: #3b88d6;
}

/* NavBar End */

body {  
padding-left: 5%;
padding-right: 5%;
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

#githubIcon {
  color: #6C0674;
}

#contactIcon {
  color: #f4b841;
}

#termsIcon {
  color: #41f443;
}