/* 
GUI & Web Devlopment Project 2018
Authors: Darragh, Anthony, Noel
*/
body {
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom:2%; 
	padding-left: 5%;
	padding-right: 5%;
}

p{
	font-weight: bold;
}

/* NavBar */
.navbar {
	background-color: #404040;
	overflow: visible;
	width:100%; 
	position: sticky; /* NavBar follows scroll */
	top: 0%; /* Keeping NavBar to top of screen */
	border-bottom: 6px solid #3b88d6;
	z-index: 1; /* To insure the drop down menu takes precedence over other page elements */
}

.navbar a {
	float: left;
	display: block;
						/*color: #f2f2f2;*/
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
}

.navbar p {
	float: left;
	display: block;
	color: #a1a1a3;
	text-align: center;
	padding: 15px 25px 0px 0px;
	text-decoration: none;
}

a:hover,
a.selected{
	color: #3b88d6;
}

/* NavBar End */

body{
	padding-left: 5%;
	padding-right: 5%;
}

/* Left Column */
.leftCol{
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;	
}

/* Product Title*/
.prodTitle{
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

/* Footer */
.footer {
	height: 6%;
	padding-top: 4%;
	padding-bottom: 3%;
	text-align: center;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Product details for center column of product pages */
.productDecription{
	border: 2px solid #d4d6d8;
	padding: 5%;
    border-radius: 6%;
	font-size: 1.0em;	
	font-family: 'Cabin', sans-serif;
	background-color: #f2f4f7;
	margin-top: 7.6%;
}

/* Product add to basket / price for right column of product pages */
.productAddPrice{
	border: 2px solid #d4d6d8;
	padding: 2.2%;
    border-radius: 3%;
	font-size: 1.0em;	
	font-family: 'Cabin', sans-serif;
	background-color: #f2f4f7;
	margin-top: 2.45%;
}


/* Add Product to Basket button */
.btn-addToBasket{
	padding: 6%;
}

.btn-default {
	background-color: white;
	border-color: grey;
	color: #337ab7;
	font-size: 1.0em;
	font-family: 'Cabin', sans-serif;
}

.nav-pills {
	font-size: 1.7em;
	background-color: white;
	font-family: 'Cabin', sans-serif;
}

* {
	box-sizing: border-box;
}

.mySlides {
	display: none;
}


img {
	vertical-align: middle;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {font-size: 11px}
}

/*Css for Footer*/
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
}

#githubIcon {
  color: #6C0674;
}

#contactIcon {
  color: #f4b841;
}

#termsIcon {
  color: #41f443;
}