/* 
GUI & Web Devlopment Project 2018
Authors: Darragh, Anthony, Noel
*/
body{
	padding-left: 5%;
	padding-right: 5%;
}

/* Product details for center column of product pages */
.productDecription{
	border: 2px solid grey;
	padding: 15px;
    border-radius: 12px;
	font-size: 1.0em;	
}

/* Add Product to Basket button */
.btn-addToBasket{
	/*padding: 15px;*/
	padding-top: 50%;
    padding-right: 50%;
    padding-bottom: 50%;
    padding-left: 0%;
	
}

.btn-default {
	background-color: white;
	border-color: grey;
	color: #337ab7;
	font-size: 1.0em;
}

.nav-pills {
	font-size: 1.7em;
	background-color: white;
}

* {
	box-sizing: border-box;
}

.mySlides {
	display: none;
}


img {
	vertical-align: middle;
	padding: 5%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

